.category {
	padding: 0 4rem;

	&-title {
		margin-bottom: 3rem;
	}
	&-items {
		// @include borderTest;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
		grid-gap: 1rem;
	}
}
