.mini-cart {
	&-overlay {
		top: 10vh !important;
	}

	&-container {
		@include border(red);
		width: 20.313rem;
		background-color: white;
		position: absolute;
		right: 1rem;
		padding: 1.5rem 0.8rem;
	}

	&__headers {
		display: flex;
	}
	&__header {
		font-size: 1rem;
	}
}
