.mini-cart {
	&-container {
		width: 20.313rem;
		background-color: white;
		position: absolute;
		right: 4rem;
		padding: 1.5rem 0.8rem;
	}

	&__headers {
		display: flex;
		margin: 0 0 2rem;
		padding: 0 0.1rem;
		h2 {
			margin-right: 0.4rem;
		}
	}
	&__header {
		font-size: 1rem;
	}

	&__items {
		height: 60vh;
		padding: 0 0.1rem;
		overflow-y: scroll;
	}
}
