.cart {
	&-page {
		&__qt-wrapper {
			width: 15rem;
		}

		&-tax-info {
			margin: 1rem 0 0.4rem 0;

			&-amount {
				font-weight: bold;
			}
		}

		&-quantity-info-amount {
			font-weight: bold;
		}

		&__pricing {
			&.price-wrapper {
				margin-top: 2rem;
			}
			&.price-info {
				margin: 0.4rem 0 0.8rem 0;
				width: 8rem;
			}
		}
	}

	&-btns {
		@include flex(space-between, center, row);
		margin-top: 1rem;

		&__btn {
			width: 48% !important;

			&.cart-page-order-btn {
				width: 18rem !important;
			}

			&.view-bag {
				background-color: white;
				color: #1d1f22;
				border: 2px solid #1d1f22;
				padding: 0.6rem;
				transition: all 0.1s ease-in;
				text-align: center;
				&:hover {
					background-color: #1d1f22;
					color: white;
				}
			}
		}
	}

	&-items {
		&__item {
			@include border(rgb(242, 241, 240));
			@include flex(space-between, center, row);
			position: relative;
			margin: 0.8rem 0;
		}

		&__pd {
			width: 50%;
			line-height: 1.3rem;
			@include flex(null, null, column);
			&__headers {
				order: 1;
				h2,
				h3 {
					// font-size: 1rem;
					// font-weight: 400;
				}

				& h2 {
					margin-bottom: 0.6rem;
				}
			}

			&__attributions {
				order: 3;
			}

			&__attribution {
				&-header {
					// font-size: 0.7rem;
					// font-size: 0.875rem;
				}
			}
		}
	}

	&-quantity {
		&-wrapper {
			overflow: hidden;
			width: 50%;
		}

		&-container {
			@include flex(space-between, center, row);
			min-height: 12rem;

			&__actions {
				min-height: 12rem;
				@include flex(space-between, center, column);
				color: $darkTxtColr;

				&-btn {
					width: 1.4rem;
					height: 1.4rem;
					font-size: 1.5rem;
					@include flex(center, center, null);
					@include border($darkTxtColr);
					cursor: pointer;
					transition: background-color 0.1s ease-in, color 0.1s ease-in;

					&:hover {
						background-color: rgba(0, 0, 0, 0.7294117647);
						color: white;
					}

					&-symbol {
						width: 100%;
						text-align: center;
					}
				}

				&-amount {
					font-size: 1rem;
				}
			}
		}

		&__image-gallery {
			&-btns {
				text-align: right;
				position: absolute;
				right: 0.4rem;
				bottom: 1rem;
				z-index: 3;
			}

			&-btn {
				background-color: #000000ba;
				color: white;
				padding: 0.4rem 0.6rem;
				margin: 0 0.4rem;
				cursor: pointer;

				&:hover {
					background-color: #1d1f22;
				}
			}
		}
	}
}

.price {
	&-info {
		@include flex(space-between, center, row);
		margin: 2rem 0;

		&__total,
		&__amount {
			font-weight: 600;
		}

		&__amount {
			margin-right: 0.4rem;
		}
	}
}
