.cart {
	&-btns {
		@include flex(space-between, center, row);

		&__btn {
			width: 48% !important;

			&.view-bag {
				background-color: white !important;
				color: #1d1f22;
				border: 2px solid #1d1f22;
			}
		}
	}

	&-items {
		&__item {
			@include border(rgb(190, 189, 187));
			@include flex(space-between, center, row);

			&__quantity-container {
				@include flex(space-between, center, row);
				min-height: 12rem;
			}
		}

		&__pd {
			&__headers {
				h2,
				h3 {
					font-size: 1rem;
					font-weight: 400;
				}
			}

			&__attribution {
				&-header {
					font-size: 0.875rem;
				}
			}
		}
	}

	&-quantity {
		&-wrapper {
			overflow: hidden;
		}

		&__image-gallery {
			&-btns {
				text-align: right;
				margin-right: 1rem;
			}

			&-btn {
				background-color: #000000ba;
				color: white;
				padding: 0.4rem 0.6rem;
				margin: 0 0.4rem;
			}
		}
	}
}
