@import './config';
@import './header/header';
@import './category/categoryCard';
@import './category/categoryList';
@import './PDP/pdp';
@import './utilities/skeletion';

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

ul li {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: rgb(125, 125, 125);
}

div#root {
	height: 100vh;
}

main {
	padding-bottom: 3rem;
	height: 100%;
}

// DYNAMIC CLASSES
.hide {
	display: none;
}

.visible {
	visibility: visible;
}

.cart-btn {
	cursor: pointer;
	height: 2.5rem;
}
