@import './utilities/config';
@import './utilities/skeletion';
@import './header/header';
@import './category/categoryCard';
@import './category/categoryList';
@import './PDP/pdp';
@import './PDP/descriptionCard';
@import './cart/miniCart';
@import './cart/Cart.scss';
@import './image/progressiveImage';

//------FONT
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

body {
	// -webkit-font-smoothing: antialiased;
	// -moz-osx-font-smoothing: grayscale;
	font-family: 'Raleway', sans-serif;
}

ul li {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: rgb(125, 125, 125);
}

div#root {
	height: 100vh;
}

main {
	padding-bottom: 3rem;
	height: 100%;
}

h1,
h2,
h3,
h4 {
	color: #1d1f22;
}

.btn {
	background-color: #5ece7b;
	width: 100%;
	padding: 0.8rem 2rem;
	color: white;
	border: none;
	cursor: pointer;
	&:hover {
		background-color: #37c45c;
	}
}

.modal-overlay {
	background-color: #39374838;
	min-height: 100vh;
	position: absolute;
	width: 100%;
	top: 0;
	z-index: 4;
}

//REUSABLE components

.display-header {
	margin: 1.5rem 0;
}

.content-wrapper {
	padding: 0 4rem;
}

// DYNAMIC CLASSES
.hide {
	display: none;
}

.visible {
	visibility: visible;
}

.cart-btn {
	cursor: pointer;
	height: 2.5rem;
}

.btnDisable {
	background-color: #c3c2c2;
	cursor: not-allowed;

	&:hover {
		background-color: #c3c2c2;
	}
}
