.pd {
	> h4 {
		font-size: 0.9rem;
	}

	&__headers {
		padding-bottom: 1rem;

		h2 {
			font-weight: 600;
		}

		h3 {
			font-weight: 400;
		}
	}

	&__attribution {
		margin: 1rem 0;
	}

	&__attribution {
		list-style-type: none;

		&__ID {
			font-weight: 700;
		}
	}

	&__price {
		@include flex(space-between, null, column);
		margin: 1rem 0;
		order: 2;
		&-price {
			font-weight: bold;
			color: $darkTxtColr;
			font-size: 1.5rem;
			width: 7.875rem;
			word-wrap: break-word;
		}
	}

	&__description {
		cursor: pointer;
	}
}

.attribution__item-checkbox {
	position: absolute;
	z-index: 2;
	background-color: cyan;
	width: 100%;
	height: 2rem;
	left: -0.2rem;
	top: -0.01rem;
	border: 3px solid blue;
	cursor: pointer;
	opacity: 0;
}

//BOTH of cart and PDP attribute items here

.pd__attribution__items {
	@include flex(null, center, row);
	margin: 0.4rem 0;
}

.pd__attribution__item:not(:first-child),
.cart-items__pd__attribution__item:not(:first-child) {
	margin-left: 0.25rem;
}

.pd__attribution__item,
.cart-items__pd__attribution__item {
	border: 1px solid #1d1f22;
	padding: 0.4rem;

	text-align: center;
	position: relative;
	cursor: pointer;
}

.pd__attribution__item {
	min-width: 3.2rem;
	min-height: 2.25rem;
}

.cart-items__pd__attribution__item {
	min-height: 1.2rem;
	min-width: 2.5rem;
}
