.pd {
	&__headers {
		padding-bottom: 1rem;
	}
	&__attributions {
	}

	&__attribution {
		// @include border(black);
		list-style-type: none;

		&__ID {
			font-weight: 600;
		}

		&__items {
			@include flex(null, center, row);
			margin: 0.4rem 0;
		}

		&__item {
			border: 1px solid black;
			padding: 0.4rem;
			min-width: 3.2rem;
			min-height: 2.25rem;
			text-align: center;
			position: relative;
			cursor: pointer;
		}
	}
}

//DYNAMIC CLASS

// .itemActive {
// 	background-color: #1d1f22;
// 	color: white;
// }
