.pdp {
	padding: 0 3rem;
	display: flex;
	height: 90%;
	width: 100%;
	&-image {
		@include border(red);
		height: 100%;
		@include flex(space-between, null, row);
		width: 100%;
		&-gallery {
			@include border(orange);
			height: 100%;
			width: 20%;
			overflow-y: scroll;
			&__image {
				width: 100%;
				object-fit: contain;
				height: 5rem;
				cursor: pointer;
				@include border(red);
			}
		}

		&-hero {
			height: 100%;
			object-fit: contain;
		}

		&-hero {
			width: 80%;
		}
	}

	&_pd {
		@include border(orange);
		height: 100%;
		width: 18rem;
	}
}
