.pdp {
	padding: 0 3rem;
	display: flex;
	height: 80vh;
	width: 100%;
	justify-content: space-around;
	margin-top: 3rem;
	&_pd {
		width: 18rem;
	}

	&__cart-btn {
		margin: 1rem 0;
	}

	&-image {
		@include flex(center, null, null);

		&-hero {
			width: 100%;
			min-width: 10rem;
			object-fit: contain;
		}
	}
}
