.pdp {
	padding: 0 3rem;
	display: flex;
	height: 80vh;
	width: 100%;
	// line-height: 1.6rem;
	&-image {
		height: 100%;
		@include flex(space-between, null, row);
		width: 100%;
		&-gallery {
			height: 100%;
			width: 20%;

			&__image:not(:first-child) {
				margin: 0.3rem 0;
			}
			&__image {
				width: 100%;
				object-fit: contain;
				height: 5rem;
				cursor: pointer;

				// box-shadow: 0 0 3px 1px rgba(67, 67, 67, 0.249);
			}
		}

		&-hero {
			height: 100%;
			object-fit: contain;
		}

		&-hero {
			width: 80%;
		}
	}

	&_pd {
		width: 18rem;
	}

	&__cart-btn {
		margin: 1rem 0;
	}
}
