.container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 20vh;
}

.currency-symobol-container {
	width: 2rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
	padding: 0.5rem;
	border-radius: 0.2rem;
}

.currency-symobol-container:hover {
	background-color: #eeeeee;
}

.action-dropdown-container {
	position: relative;
	top: 6.4rem;
	right: 5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	padding: 0.2rem 0;
	width: 5.5rem;
	text-align: center;
	box-shadow: 0px 1px 3px rgba(198, 198, 198, 0.998);
}

.dropdown-item {
	width: 100%;
	cursor: pointer;
	line-height: 2rem;
}

.dropdown-symbol {
	position: relative;
	top: -2px;
}

.dropdown-item:hover {
	background-color: #e2e2e2;
}
